{# src/Abba/BlogBundle/Resources/views/Blog/alert.html.twig #}
{# message de succes affiché à l'utilisateur #}
<div class="alert alert-success alert-dismissable row">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Bravo !</strong> {{flashMessage}}.
</div>